/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700;900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Global Styling */
h1, h2, h3, h4, h5, h6, a, ol, li, input, button, p {

    margin: 0;
    padding: 0;
}

a, a:hover {
    list-style: none;
    text-decoration: none;
}

body {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.bg-orange {
    background-color: #ffc61a;
}

.text-orange {
    color: #ffc61a;
}


/* Header Start */
header {
    background-image: url(/img/Header/header-bg.jpg);
    background-repeat: no-repeat;
    padding: 30px 0;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000;
    background-color: #ffc61a;
    font-weight: bold;
    border-radius: 15px;
    padding: 4px 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    padding: 4px 18px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #000;
    background-color: #ffc61a;
    font-weight: bold;
    border-radius: 15px;
    padding: 4px 18px;
}

header .header-info h3, p {
    font-weight: bold;
}

header .header-info h1 {
    font-weight: 900;
    font-size: 50px;
}

header .header-info p {
    letter-spacing: 9px;
}
/* Header End */
